<section id="about" class="about bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">About Ricochet Refresh</h2>
                <p> Ricochet was launched in 2014 as a different approach to instant messaging that doesn’t trust anyone in protecting your privacy.</p>
                <p> Unfortunately, Ricochet has not been updated since late 2016 and is starting to show its age. Ricochet Refresh is an initiative backed by Blueprint for Free Speech, a not-for-profit non-government organisation, to bring Ricochet into 2019 and beyond.</p>
                <p> We believe software like Ricochet is important to protect freedom of expression for whistleblowers, activists, and journalists worldwide. </p>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="section-heading">How does Ricochet Refresh work?</h3>
                <p> Ricochet Refresh is a peer-to-peer messenger app that uses Tor to connect clients. 
                    When you start Ricochet Refresh it creates a Tor hidden service on your computer. 
                    The address of this hidden service is your anonymous identity on the Tor network 
                    and how others will be able to communicate with you</p>
                    
                        <img src="{{ site.baseurl}}/img/diagram.gif" class="img-responsive" alt="Ricochet Diagram"> 
                        
                    
                <p> To start a chat with someone you need to add the address of their Ricochet Refresh 
                    hidden service to your contacts. When you start a chat with one of your contacts a 
                    Tor circuit is created between your machine and the your contact's machine. A Tor 
                    circuit consists of a series of hops between your machine, Tor nodes, and your 
                    contacts machine. It is this use of multiple nodes that provides anonymity, no 
                    single node knows both the origin and destination.</p>
                <p>To find out more about Tor check out the <a href="https://2019.www.torproject.org/about/overview.html" alt="Tor Overview">Tor Overview</a> documentation.</p>
                <p>To read more about Ricohet Refresh visit our <a href="https://github.com/blueprint-freespeech/ricochet-refresh" alt="Ricochet Refresh GitHub Repository">GitHub Repository</a></p>
            </div>
        </div>
        
    </div>
</section>
