<section id="aboutblueprint" class="about text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">About Blueprint for Free Speech</h2>
                <p>Blueprint for Free Speech is a charity that provides research and analysis in support of freedom of expression for all people, as described the UN Declaration of Human Rights.</p>
                     
                <p> To ensure these fundamental rights are upheld, we seek a world where protections for free and independent media, freedom of speech, freedom of information, institutional transparency, and support for whistleblowers, are all enshrined in law.</p>

                <p>Find out more about <a href="https://blueprintforfreespeech.net" target="_blank">Blueprint for Free Speech</a> at our <a href="https://blueprintforfreespeech.net" target="_blank">Website</a></p>
            </div>
        </div>
    </div>
</section>
