<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Get Ricochet Refresh</h2>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="section-heading">Ricochet Refresh V3</h3>
                <p>Below you will find the latest version ({{ release }}) of Ricochet Refresh (V3). This includes a major upgrade of the underlying communication system
                    to move to v3 of tor onion services. Unfortunately this means it is not backwards compatible with <a href="{{ site.baseurl}}/legacy">older (legacy) versions of Ricochet</a>. 
                </p>
                <p>If you are new to Ricochet Refresh you should download the latest version below. If you are a current user you should upgrade as soon as possible.
                    Not only are v3 onion services more secure, tor's support for v2 onion services is <a href="https://blog.torproject.org/v2-deprecation-timeline">ending in October 2021.</a> It is
                    essential you have upgraded to Ricochet Refresh V3 by this date, and ideally well before!
                </p>
                <p>We will continue to make the old (legacy) version Ricochet Refresh available to download up until it ceases working when tor's support for v2 onion services ends. You 
                    can download Legacy Ricochet Refresh from <a href="/legacy/">here</a>.
                </p>
                
                <p>We would recommend the following upgrade process:
                    <div>
                    <ol class="bullets">
                        <li>Download and install Ricochet Refresh V3</li>
                        <li>Start Ricochet Refresh V3 and generate a new Ricochet ID</li>
                        <li>Share your new Ricochet ID with your existing contacts in the old (legacy) version of Ricochet Refresh</li>
                        <li>Encourage your existing contacts to also upgrade to allow you to keep communicating</li>
                    </ol>
                    </div>
                </p>
            
                <p>If you are developer, or are comfortable compiling from source, the latest sourcecode for V3 can be found on <a href="https://github.com/blueprint-freespeech/ricochet-refresh">GitHub</a></p>
                
                <p>All releases are GPG signed by <a href="https://keys.openpgp.org/search?q=07AA9DAA7088B94AF3D40084D83A26FDF5050FE0">07AA 9DAA 7088 B94A F3D4 0084 D83A 26FD F505 0FE0</a><br>
                    <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/sha256-sums.txt">SHA256 Sums of Release</a>&nbsp;
                    <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/sha256-sums.txt.asc">Signature of SHA256 Sums</a>
                        
                </p>
                
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="section-heading bold">Linux</h3>
                        
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-linux-x86_64.tar.gz"> Download {{ release }} for Linux 64 bit</a>
                        <br><br>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-linux-i686.tar.gz"> Download {{ release }} for Linux 32 bit</a>
                        <h4>Installation Instructions</h4>
                        <div>
                            <ul class="bullets">
                                <li>Extract the archive, and run the Ricochet Refresh binary.</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="section-heading bold">Windows</h3>                        
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-windows-i686.exe"> Download {{ release }} for Windows 32 bit</a>
                        <br><br>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-windows-x86_64.exe"> Download {{ release }} for Windows 64 bit</a>
                        
                        <h4>Installation Instructions</h4>
                        <div>
                            <ul  class="bullets">
                                <li>Download and run the installer.</li>
                                
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="section-heading bold">Mac OS X</h3>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-macos-x86_64.dmg"> Download {{ release }} for Mac OS X 64 bit</a>
                        <h4>Installation Instructions</h4>
                        <div>
                            <ul  class="bullets">
                                <li>Click the downloaded .dmg file when it appears.</li>
                                <li>Drag the icon Ricochet Refresh into your Applications folder.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        
    </div>
</section>
