<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Get Ricochet Refresh</h2>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="section-heading">Ricochet Refresh V3</h3>
                <p>Below you will find the latest version ({{ release }}) of Ricochet Refresh (V3).</p>
            
                <p>If you are developer, or are comfortable compiling from source, the latest sourcecode for V3 can be found on <a href="https://github.com/blueprint-freespeech/ricochet-refresh">GitHub</a></p>
                
                <p>All releases are GPG signed by <a href="https://keys.openpgp.org/search?q=07AA9DAA7088B94AF3D40084D83A26FDF5050FE0">07AA 9DAA 7088 B94A F3D4 0084 D83A 26FD F505 0FE0</a><br>
                    <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/sha256sums.txt">SHA256 Sums</a>&nbsp;
                    <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/sha256sums.txt.asc">sig</a>
                </p>
                
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="section-heading bold">Windows</h3>
                        <h4 class="bold">System Installer</h4>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-windows-i686-installer.exe">32-bit (x86)</a>&nbsp;
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-windows-i686-installer.exe.asc">sig</a>
                        <br><br>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-windows-x86_64-installer.exe">64-bit (x86-64)</a>&nbsp;
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-windows-x86_64-installer.exe.asc">sig</a>

                        <h4>Instructions</h4>
                        <div>
                            <ul  class="bullets">
                                <li>Download and run the installer</li>
                                <li>Run Ricochet Refresh from the Start Menu or Desktop shortcuts</li>
                                
                            </ul>
                        </div>

                        <h4 class="bold">Portable Archive</h4>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-windows-i686.zip">32-bit (x86)</a>&nbsp;
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-windows-i686.zip.asc">sig</a>
                        <br><br>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-windows-x86_64.zip">64-bit (x86-64)</a>&nbsp;
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-windows-x86_64.zip.asc">sig</a>

                        <h4>Instructions</h4>
                        <div>
                            <ul class="bullets">
                                <li>Download and extract the archive to desired path</li>
                                <li>Run the ricochet-refresh.exe executable</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="section-heading bold">macOS</h3>
                        <h4 class="bold">DMG Image</h4>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-macos-x86_64.dmg">Intel</a>&nbsp;
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-macos-x86_64.dmg.asc">sig</a>
                        <br><br>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-macos-aarch64.dmg">M1/M2</a>&nbsp;
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-macos-aarch64.dmg.asc">sig</a>
                        <h4>Instructions</h4>
                        <div>
                            <ul  class="bullets">
                                <li>Mount the downloaded .dmg image</li>
                                <li>Drag the Ricochet Refresh.app icon into your Applications folder</li>
                                <li>Run Ricochet Refresh from Spotlight</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h3 class="section-heading bold">Linux</h3>
                        <h4 class="bold">Portable Archive</h4>

                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-linux-i686.tar.gz">i686</a>&nbsp;
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-linux-i686.tar.gz.asc">sig</a>
                        <br><br>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-linux-x86_64.tar.gz">x86_64</a>&nbsp;
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-linux-x86_64.tar.gz.asc">sig</a>
                        <h4>Instructions</h4>
                        <div>
                            <ul class="bullets">
                                <li>Extract the archive, and run the ricochet-refresh binary</li>
                            </ul>
                        </div>

                        <h4 class="bold">Debian Package</h4>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh_{{ release }}_i386.deb">i386</a>&nbsp;
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh_{{ release }}_i386.deb.asc">sig</a>
                        <br><br>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh_{{ release }}_amd64.deb">amd64</a>&nbsp;
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh_{{ release }}_amd64.deb.asc">sig</a>
                        <h4>Instructions</h4>
                        <div>
                            <ul class="bullets">
                                <li>Install the deb using apt or dpkg</li>
                                <li>Run Ricochet-Refresh from your desktop environment or ricochet-refresh from the command-line</li>
                            </ul>
                        </div>
                        <h4 class="bold">AppImage Package</h4>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-i386.appimage">i386</a>&nbsp;
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-i386.appimage.asc">sig</a>
                        <br><br>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-x86_64.appimage">x86_64</a>&nbsp;
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v{{ release }}-release/ricochet-refresh-{{ release }}-x86_64.appimage.asc">sig</a>
                        <h4>Instructions</h4>
                        <div>
                            <ul class="bullets">
                                <li>Run the downloaded .appimage file</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        
    </div>
</section>
