<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2>Get Ricochet Refresh</h2>                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h3 class="section-heading">Ricochet Refresh V3</h3>
                <p>Download the latest development version of Ricochet Refresh. This is currently an alpha version
                    of Ricochet Refresh with the latest developments. 
                </p>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-heading bold">Linux</h3>
                        
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v3.0.0-alpha/ricochet-refresh-3.0.0a-linux-x86_64.tar.gz"> Download 3.0.0a for Linux 64 bit</a>
                        <br><br>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v3.0.0-alpha/ricochet-refresh-3.0.0a-linux-i686.tar.gz"> Download 3.0.0a for Linux 32 bit</a>
                        <h4>Installation Instructions</h4>
                        <div>
                            <ul>
                                <li>Extract the archive, and run the Ricochet Refresh binary.</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-heading bold">Windows</h3>                        
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v3.0.0-alpha/ricochet-refresh-3.0.0a-windows-i686.exe"> Download 3.0.0a for Windows 32 bit</a>
                        <h4>Installation Instructions</h4>
                        <div>
                            <ul>
                                <li>Download and run the installer.</li>
                                
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-heading bold">Mac OS X</h3>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/v3.0.0-alpha/ricochet-refresh-3.0.0a-macos-x86_64.dmg"> Download 3.0.0a for Mac OS X 64 bit</a>
                        <h4>Installation Instructions</h4>
                        <div>
                            <ul>
                                <li>Click the downloaded .dmg file when it appears.</li>
                                <li>Drag the icon Ricochet Refresh into your Applications folder.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 borderleft">
                <h3 class="section-heading">Legacy Ricochet Refresh</h3>
                <p>This is the last stable release of Ricochet Refresh. It is not receiving any further updates.</p>
                <p>Legacy Ricochet Refresh has a pre-release for Linux, Mac OS X, and Windows. We have included Tor 0.3.5.8 in the release. </p>
                <p>All releases are GPG signed by <a href="https://keys.openpgp.org/search?q=fB898DF410CF4EA2E6B38A7D260C7A7EAE9D91A0">fB89 8DF4 10CF 4EA2 E6B3 8A7D 260C 7A7E AE9D 91A0</a></p>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-heading bold">Linux</h3>
                        
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/1.1.4e/ricochet-refresh-1.14e-16-gf668438-static.tar.bz2"> Download 1.1.4e for Linux</a>
                        <h4>Installation Instructions</h4>
                        <div>
                            <ul>
                                <li>Check GPG Signature: <a href="{{ site.baseurl}}/bin/ricochet-refresh-1.1.4e-16-gf668438-static.tar.bz2.asc" alt="GPG Signature for Windows Installer">Signature</a></li></i>
                                <li>Extract the archive, and run the Ricochet Refresh binary.</li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-heading bold">Windows</h3>
                        <a class="btn btn-primary btn-download" href="{{ site.baseurl}}/bin/ricochet-1.1.4-win-install.exe"> Download 1.1.4e for Windows</a>
                        <h4>Installation Instructions</h4>
                        <div>
                            <ul>
                                <li>Check GPG Signature: <a href="{{ site.baseurl}}/bin/ricochet-1.1.4-win-install.exe.asc" alt="GPG Signature for Windows Installer">Signature</a></li>
                                <li>Download and run the installer.</li>
                                
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="section-heading bold">Mac OS X</h3>
                        <a class="btn btn-primary btn-download" href="https://github.com/blueprint-freespeech/ricochet-refresh/releases/download/1.1.4e/Ricochet-Refresh-1.1.4e.dmg"> Download 1.1.4e for MacOS</a>
                        <h4>Installation Instructions</h4>
                        <div>
                            <ul>
                                <li>Check GPG Signature: <a href="{{ site.baseurl}}/bin/Ricochet-Refresh-1.1.4e.dmg.asc" alt="GPG Signature for Mac Install">Signature</a></li>
                                <li>Click the downloaded .dmg file when it appears.</li>
                                <li>Drag the icon Ricochet Refresh into your Applications folder.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
</section>
