<section id="funding-the-commons" class="about text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-left">
                <h2 class="section-heading">Funding the Commons</h2>
                <p>In 2025, global internet freedom declined for the 15th consecutive year and tens of millions of dollars in public funding for internet freedom projects was cut. Without innovative ways of support, many critical projects could shut down and put millions of people at risk of losing access to the internet. That's why the Tor Project and Funding the Commons are launching a crowdfunding campaign benefiting the internet freedom ecosystem. This campaign runs from <strong>May 19, 2026</strong> through <strong>June 18, 2026</strong>.</p>

                <p>Donors can contribute ETH, BTC, or other cryptocurrencies to support internet freedom projects like Ricochet Refresh. Thanks to quadratic funding, even a $1 donation can be matched with tens or even hundreds of dollars in additional funding. Instead of rewarding projects with the largest donations, quadratic funding rewards those with the most contributors.</p>

                <p>Help keep the internet free! <strong>Donate</strong> to support Ricochet Refresh <em>before</em> <strong>June 18th</strong> at:</p>
                <ul>
                  <li><a href="https://internetfreedom.torproject.org/projects/ricochet-refresh/">https://internetfreedom.torproject.org/projects/ricochet-refresh/</a></li>
                </ul>

                <p>Also support the other projects!</p>
                <ul>
                  <li><a href="https://internetfreedom.torproject.org/projects/miaan/">Miaan Digital Security Help Desk</a>: Internet freedom for Iranians</li>
                  <li><a href="https://internetfreedom.torproject.org/projects/onion-browser/">Onion Browser</a>: Tor-endorsed free, open-source anti-censorship browser for iOS</li>
                  <li><a href="https://internetfreedom.torproject.org/projects/onionshare/">OnionShare</a>: Securely share files, host websites, and chat using the Tor network</li>
                  <li><a href="https://internetfreedom.torproject.org/projects/ooni/">OONI</a>: Free tools and open data to detect and document internet censorship worldwide</li>
                  <li><a href="https://internetfreedom.torproject.org/projects/osservatorio-nessuno/">Osservatorio Nessuno OdV</a>: Software that leaves no trace</li>
                  <li><a href="https://internetfreedom.torproject.org/projects/paskoocheh/">Paskoocheh</a>: Countering digital authoritarianism</li>
                  <li><a href="https://internetfreedom.torproject.org/projects/openarchive-save/"><em>Save</em> by OpenArchive</a>: Secure mobile archive app for journalists and human rights defenders</li>
                  <li><a href="https://internetfreedom.torproject.org/projects/securedrop/">SecureDrop</a>: Anonymous whistleblowing submission system for journalists and sources</li>
                  <li><a href="https://internetfreedom.torproject.org/projects/unredacted/">Unredacted</a>: Global censorship evasion infrastructure: proxies, Tor relays, encrypted messaging</li>
                </ul>

                <p>Thank you for your support!</p>
            </div>
        </div>
    </div>
</section>
