
    <section id="contribute" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Get Involved</h2>
                 
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="/img/network.png" class="img-responsive" alt="Network Contribution"> 
                    
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <p>Refreshing Ricochet is a big project and we can't do this alone. If you're an open source developer, we want you to help us continue to update and improve Ricochet Refresh.</p>
                                <p>You can contribute to our <a href="https://github.com/blueprint-freespeech/ricochet-refresh" alt="Ricochet Refresh GitHub Repository">GitHub Repository</a>, whether that's with code, by alerting us to bugs you've found, or your suggestions for new features.</p>
                                <p>Alternatively, if you want to volunteer your time in another way, please <a href="#contact" alt="Contact Us link">contact us.</a></p>
                                
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                

            </div>
    </section>
