<!-- jQuery -->
<script src="{{ site.baseurl}}/js/jquery-3.5.1.min.js"></script>
<script src="{{ site.baseurl}}/js/jquery-migrate-1.4.1.min.js"></script>
<!-- Bootstrap Core JavaScript
<script src="js/bootstrap.min.js"></script> -->

<!-- Plugin JavaScript -->
<script src="{{ site.baseurl}}/js/jquery.easing.min.js"></script>
<script src="{{ site.baseurl}}/js/jquery.fittext.js"></script>
<script src="{{ site.baseurl}}/js/wow.min.js"></script>

<script src="{{ site.baseurl}}/js/popper.min.js"></script>



<!-- Bootstrap Core JavaScript -->

<script src="{{ site.baseurl}}/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl}}/js/creative.js"></script>
<!-- Plugin JavaScript -->
<script src="{{ site.baseurl}}/js/jquery.easing.1.3.min.js"></script>

<!-- Theme JavaScript -->
<script src="{{ site.baseurl}}/js/new-age.min.js"></script>

{% if site.google_analytics %}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ site.google_analytics }}']);
          _gaq.push(['_trackPageview']);
  (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endif %}
