
    <section id="features" class="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>Essential Features</h2>
                        <p class="text-muted">What sets Ricochet Refresh apart:</p>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container">
                        <div class="device-mockup portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="{{ site.baseurl}}/img/ricochetscreen.png" class="img-responsive" alt="Ricochet Refresh screenshot"> </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-shield text-primary"></i>
                                    <h3>Metadata Resistant</h3>
                                    <p class="text-muted">Nobody knows who you talk to or what you say</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-user text-primary"></i>
                                    <h3>Anonymous</h3>
                                    <p class="text-muted">None of your contacts know your location or IP address</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-globe text-primary"></i>
                                    <h3>Decentralised</h3>
                                    <p class="text-muted">There are no servers to trust, monitor, or hack</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="feature-item">
                                    <i class="icon-like text-primary"></i>
                                    <h3>Easy to use</h3>
                                    <p class="text-muted">Your messages are automatically secure and private</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                

            </div>
    </section>
